.dropbox

# IntelliJ
.idea/
*.iml
*.iws
out/

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath

# Maven
target/

#proguard
proguard_running_config.txt